@mixin text_transition{
    opacity:0;
    visibility:hidden;
    pointer-events: all;
    transition:all 0.8s ease;
}
@mixin text_transition-hover{
    opacity:1;
    visibility:visible;
    pointer-events: all;
    transition:all 0.8s ease;
}
@mixin text{
    transition:all 0.6s ease;
}

@media only screen and (max-width: 768px)  and (max-device-width : 1024px){
    /* STYLES HERE */
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    /* STYLES HERE */
}
@media only screen and (max-device-width : 480px) {
    /* Styles */
    }

.header{
    background-image: url(/images/1.jpg);
    position:fixed; 
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 20px black;
    // filter: blur(20px);
    top:0;
    z-index: 1000;
    // background-color: aquamarine;
    // padding-bottom:1%;
}.banner{
    // background-color:blueviolet;
    &_img{
        position:relative;
        & img{
            max-width:100%;
            max-height:980px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &_text{
        // background-color: aqua;
        color:white;
        position:absolute;
        top:65px;
        & h1{
            font-size:60px;
            font-weight: 700;
        }
        &-1{
            padding-top:10%;
        }
    }
}