.header .navbar {
  position: sticky;
  padding-bottom: 1%;
}

.banner {
  background-image: url(/photos/1.jpg);
  width: 100%;
  height: 945px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .drink_ul button {
    padding: 10px 15px;
  }
}
html, body {
  padding: 0;
  margin: 0;
}

.about {
  padding-top: 7%;
  padding-bottom: 7%;
}
.about_text {
  max-width: 580px;
}
.about_text h1 {
  font-weight: 500;
}
.about_text p {
  color: grey;
}
.about_button {
  padding-top: 30px;
}
.about a {
  color: white;
  text-transform: uppercase;
  background-color: rgb(255, 45, 45);
  padding: 15px 40px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.6s ease;
}
.about a:hover {
  box-shadow: 0 8px 20px rgb(248, 84, 84);
  transition: all 0.6s ease;
}
.about_photo img {
  max-width: 100%;
}

.drink {
  padding-top: 110px;
  background-color: rgb(247, 247, 250);
}
.drink_ul {
  justify-content: center;
}
.drink_ul li {
  border-right: 1px solid #eff7ff;
}
.drink_ul button {
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  background-color: rgb(255, 255, 255) !important;
  padding: 30px 55px;
}
.drink_ul button:hover {
  color: black;
}
.drink_ul button:focus {
  background-color: red !important;
  color: white;
}
.drink_text {
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.drink_text h1 {
  font-weight: 640;
}
.drink_text p {
  color: grey;
}
.drink_list {
  width: 9000px;
  background-color: aqua;
}
.drink_1 {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.drink_1_items {
  justify-content: space-between;
}
.drink_1_items p {
  font-size: 20px;
  color: rgb(255, 39, 39);
  font-weight: bold;
}
.drink_2 {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.drink_2_items {
  justify-content: space-between;
}
.drink_2_items p {
  font-size: 20px;
  color: rgb(255, 39, 39);
  font-weight: bold;
}
.drink_3 {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.drink_3_items {
  justify-content: space-between;
}
.drink_3_items p {
  font-size: 20px;
  color: rgb(255, 39, 39);
  font-weight: bold;
}
.drink_4 {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.drink_4_items {
  justify-content: space-between;
}
.drink_4_items p {
  font-size: 20px;
  color: rgb(255, 39, 39);
  font-weight: bold;
}
.drink_5 {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.drink_5_items {
  justify-content: space-between;
}
.drink_5_items p {
  font-size: 20px;
  color: rgb(255, 39, 39);
  font-weight: bold;
}
.drink_6 {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.drink_6_items {
  justify-content: space-between;
}
.drink_6_items p {
  font-size: 20px;
  color: rgb(255, 39, 39);
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */