.header {
  position: fixed;
  top: 0;
  z-index: 3;
}
.header_container-fluid {
  width: 1000px;
}
.header_navbar {
  top: 0;
  width: 2000px;
  box-shadow: 0 0 10px 5px rgb(112, 112, 112);
}

.navbar-nav {
  padding-left: 45%;
}
.navbar-nav li {
  width: 170px;
}

.nav-img {
  background-image: url(/photos/1.jpg);
  width: 2015px;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link {
  transition: all 0.6s ease;
  font-weight: 500;
}
.nav-link:hover {
  color: red;
  transition: all 0.6s ease;
}
.nav-item {
  padding-right: 0;
  position: relative;
  transition: all 1s ease;
}
.nav-item:hover .drop-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.8s ease;
}
.nav-link {
  color: white;
}

.drop li {
  list-style: none;
}
.drop-menu {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -15px;
  padding: 0;
  top: 48px;
  opacity: 0;
  visibility: hidden;
  pointer-events: all;
  transition: all 0.8s ease;
}
.drop-menu li {
  padding: 5px;
}
.drop-item {
  color: black;
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.6s ease;
}
.drop-item:hover {
  color: red;
  transition: all 0.6s ease;
}
.drop-level {
  position: relative;
}
.drop-level:hover .drop-menu-item {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.8s ease;
}
.drop-menu-item {
  background-color: rgb(245, 245, 245);
  position: absolute;
  top: 50%;
  right: -150px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: all;
  transition: all 0.8s ease;
}
.drop-items {
  text-decoration: none;
  color: black;
  transition: all 0.6s ease;
}
.drop-items:hover {
  color: red;
  transition: all 0.6s ease;
}

.banner_area {
  padding-left: 22%;
}
.banner_photo {
  position: relative;
  width: 4000px;
  height: 300px;
  max-width: 2000px;
  height: 945px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_text {
  max-width: 500px;
  color: white;
  position: absolute;
  top: 40%;
}
.banner_text h1 {
  font-size: 60px;
  font-weight: 700;
}
.banner_logo {
  position: absolute;
  top: 12%;
  z-index: 2;
}
.banner_button {
  padding-top: 30px;
}
.banner a {
  color: white;
  background-color: rgb(255, 45, 45);
  padding: 15px 40px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.6s ease;
}
.banner a:hover {
  background-color: black;
  transition: all 0.6s ease;
}

html, body {
  padding: 0;
  margin: 0;
}

.about {
  padding-top: 7%;
}
.about_text {
  max-width: 580px;
}
.about_text h1 {
  font-weight: 500;
}
.about_text p {
  color: grey;
}
.about_button {
  padding-top: 30px;
}
.about a {
  color: white;
  text-transform: uppercase;
  background-color: rgb(255, 45, 45);
  padding: 15px 40px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.6s ease;
}
.about a:hover {
  box-shadow: 0 8px 20px rgb(248, 84, 84);
  transition: all 0.6s ease;
}
.about_photo img {
  max-width: 100%;
}

.drink {
  padding-top: 110px;
  background-color: rgb(247, 247, 250);
}
.drink_text {
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.drink_text p {
  color: grey;
}/*# sourceMappingURL=main.css.map */